.bottle-grid {
  display: flex;
  flex-wrap: wrap;       /* allow multiple rows */
  justify-content: space-around;
  gap: 10px;             /* spacing between bottles */
  margin-top: 20px;
}
.bottle.selected {
  border: 3px solid yellow;
  transform: scale(1.01);
}
.small-congrats {
  font-size: 1rem;   /* smaller than normal */
  color: green;
  font-weight: 600;
}

.bottle-grid_1{
  display: none;
  flex-wrap: wrap;       /* allow multiple rows */
  justify-content: space-around;
  gap: 10px;             /* spacing between bottles */
  margin-top: 20px;
}
.timer h2 {
  margin-bottom: 2px; /* reduce space */
}

.game-container h1 {
  margin-top: 0; /* remove extra gap */
}
.bottle {
  width: 30px;           /* adjusted bottle body */
  height: 100px;
  border-radius: 50% 50% 15px 15px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  color: white;
  padding-bottom: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  position: relative;
  margin: 10px;
  text-align: center;
}

/* Bottle neck */
.bottle::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;           /* smaller neck */
  height: 20px;
  background-color: inherit;
  border-radius: 5px 5px 0 0;
}
